<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseHost" value="http://localhost:8080" />
    <add key="UserDataDatabaseName" value="Userdata" />
    <add key="ExchangeDatabaseName" value="Exchange" />
    <add key="RetrieveNewUserOffersSubscriptionName" value="Retrieve New User Offers"/>
    <add key="MatchOffersSubscriptionName" value="Match Offers"/>
    <add key="AggregateBatchInterval" value="0:0:0:1" />
  </appSettings>
</configuration>
